<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" th:href="@{/css/output.css}">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
</head>
<body>
    
    <!-- using the parent fragment from base.html -->

    <div th:insert="~{base :: parent}"></div>


    <h1 class="text-2xl font-bold">About Us</h1>
    <p class="text-lg">This is the about page of our application rrrr.</p>
</body>
</html>